<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form>
                <div class="mb-3 mt-3">
                    <label for="username" class="form-label">UserName:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username"
                        [(ngModel)]="addNewUser.username" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input [(ngModel)]="addNewUser.email"  type="email" class="form-control" id="email"
                        placeholder="Enter email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input [(ngModel)]="addNewUser.password" type="password" class="form-control" id="pwd"
                        placeholder="Enter password" name="pwd" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="role" class="form-label">Role:</label>
                    <input [(ngModel)]="addNewUser.role" type="text" class="form-control" id="role"
                        placeholder="Enter role" name="role" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="mobile" class="form-label">Mobile No:</label>
                    <input [(ngModel)]="addNewUser.mobileNo"  type="text" class="form-control" id="mobileNo"
                        placeholder="Enter mobile" name="mobile" required>
                </div>
                <button type="submit" (click)="Registration()" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>